%h1 Listing clips

%table
  %tr
    %th Word
    %th Status
    %th Nextup
    %th Shown
    %th
    %th
    %th

  - @clips.each do |clip|
    %tr
      %td= clip.word_id
      %td= clip.status
      %td= clip.nextup
      %td= clip.shown
      %td= link_to 'Show', clip
      %td= link_to 'Edit', edit_clip_path(clip)
      %td= link_to 'Destroy', clip, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Clip', new_clip_path
