%p#notice= notice

%p
  %b Word:
  = @clip.word_id
%p
  %b Status:
  = @clip.status
%p
  %b Nextup:
  = @clip.nextup
%p
  %b Shown:
  = @clip.shown

= link_to 'Edit', edit_clip_path(@clip)
\|
= link_to 'Back', clips_path
