%h2
  Statistics

#chart

%table.table.table-striped
  %thead
    %tr
      %td Level
      %td In progress
      %td Done
      %td Remain
      %td Total
  %tbody
    - (1..12).each do |l|
      %tr
        %td= "Level #{l}"
        %td= @stats[l][:undone]
        %td= @stats[l][:done]
        %td= @stats[l][:remain]
        %td= @stats[l][:total]

    %tr
      %td= "Extra"
      %td= @stats['0'][:undone]
      %td= @stats['0'][:done]
      %td -
      %td -
    %tr
      %td Total
      %td= @stats['total'][:undone]
      %td= @stats['total'][:done]
      %td= @stats['total'][:remain]
      %td= @stats['total'][:total]
