%ul
  %li
    = link_to_google "Pronunciation", "#{entry} pronunciation"
  %li
    = link_to_google "Google", "%22#{entry}%22"
  %li
    = link_to_google "Wiktionary", "#{entry} wiktionary"
  %li
    = link_to_google "NYT", "#{entry}+site%3Anytimes.com"
