%h2 Clip new words
%p ボタンをクリックすると、レベル別に単語を5個ずつクリップできます。
.import-list
  - (1..12).each do |l|
    .level-box
      = link_to "Level #{l}", alc_path(l), class: 'btn btn-large', method: :post
      .stat= "#{Clip.level(l).count} / #{Level.where(level: l).count}"
      .word-list
        - Level.yet_to_import(l, 5).each do |w|
          .word= w
