%p#notice= notice

#word
  %ul
    %li{id: "level"}
      Level:
      = @word.level
    %li{id: "last"}
      Imported:
      = time_ago_in_words(@word.updated_at)

  - unless Clip.where(word_id: @word.id).first
    = form_for Clip.new(shown: 1, word_id: @word.id) do |f|
      = f.hidden_field :word_id
      = f.hidden_field :status
      = f.hidden_field :shown
      = f.hidden_field :nextup
      = f.submit 'Clip this!'

  #entry
    = @word.entry

  - if @word.clip
    #status-digit
      = @word.clip.status
    #status
      .btn-group
        = link_to "New", clip_path(@word.clip, clip: {status: 0}), class: 'btn', id: "status0", method: :put, remote: true, data: {type: :json}
        = link_to "1 Day", clip_path(@word.clip, clip: {status: 1}), class: 'btn', id: "status1", method: :put, remote: true, data: {type: :json}
        = link_to "3 Days", clip_path(@word.clip, clip: {status: 2}), class: 'btn', id: "status2", method: :put, remote: true, data: {type: :json}
        = link_to "1 Week", clip_path(@word.clip, clip: {status: 3}), class: 'btn', id: "status3", method: :put, remote: true, data: {type: :json}
        = link_to "2 Weeks", clip_path(@word.clip, clip: {status: 4}), class: 'btn', id: "status4", method: :put, remote: true, data: {type: :json}
        = link_to "1 Month", clip_path(@word.clip, clip: {status: 5}), class: 'btn', id: "status5", method: :put, remote: true, data: {type: :json}
        = link_to "2 Months", clip_path(@word.clip, clip: {status: 6}), class: 'btn', id: "status6", method: :put, remote: true, data: {type: :json}
        = link_to "4 Months", clip_path(@word.clip, clip: {status: 7}), class: 'btn', id: "status7", method: :put, remote: true, data: {type: :json}
        = link_to "Done", clip_path(@word.clip, clip: {status: 8}), class: 'btn', id: "status8", method: :put, remote: true, data: {type: :json}

  %p
    = highlight simple_format(@word.def), @word.entry
