%p#notice= notice

#word
  %ul
    %li{id: "level"}
      Level:
      = @word.level
    %li{id: "last"}
      Imported:
      = time_ago_in_words(@word.updated_at)

  - unless Clip.where(word_id: @word.id).first
    = form_for Clip.new(shown: 1, word_id: @word.id) do |f|
      = f.hidden_field :word_id
      = f.hidden_field :status
      = f.hidden_field :shown
      = f.hidden_field :nextup
      = f.submit 'Clip this!'

  #entry
    = @word.entry
  %p
    = simple_format(@word.def)
