#word
  #level Level: #{@word.level}
  #entry
    #item
      #{@word.entry}
  = render partial: "words/shown", locals: {word: @word}
  = render partial: "words/search_links", locals: {entry: @word.entry}

  - if params[:action] == "next"
    %div.btn.btn-large#show show

  #body
    %div#next.next.btn.btn-primary.btn-large Check and proceed
    = link_to "Edit", edit_word_path(@word), class: 'btn'
    = link_to "Delete", @word, class: 'btn', data: {confirm: "Delete #{@word.entry}?"}, method: :delete
    %p

    - if @word.clip
      #status-digit
        = @word.clip.status
      #status
        .btn-group
          = status_button "New", 0
          = status_button "1 Day", 1
          = status_button "2 Days", 2
          = status_button "4 Days", 3
          = status_button "1 Week", 4
          = status_button "2 Weeks", 5
          = status_button "1 Month", 6
          = status_button "2 Months", 7
          = status_button "Done", 8

    #thesaurus
      - if @word.thesaurus
        =raw @word.thesaurus
      .link
        = link_to 'Thesaurus.com', 'http://thesaurus.com/'

    #definition
      = raw(preprocess @word)

      %div.next.btn.btn-primary Check and proceed
      %a{href: "javascript:scroll(0,0)", class: 'btn'} Back to top
