%h2
  Statistics
  %table.table.table-striped
    %thead
      %tr
        %td Level
        %td In progress
        %td Done
        %td Remain
        %td Total
    %tbody
      - (1..12).each do |l|
        %tr
          %td= "Level #{l}"
          %td= "#{Clip.level(l).undone.count}"
          %td= "#{Clip.level(l).done.count}"
          %td= "#{Level.where(level: l).count - Clip.level(l).count}"
          %td= "#{Level.where(level: l).count}"
      %tr
        %td= "Extra"
        %td= "#{Clip.level(0).count}"
        %td= "#{Clip.level(0).done.count}"
        %td -
        %td -
      %tr
        %td Total
        %td= "#{Clip.undone.count}"
        %td= "#{Clip.done.count}"
        %td= "#{Level.count - Clip.count}"
        %td= "#{Level.count}"
