!!!
%html
  %head
    %title Reijiro
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "/"} Reijiro
          %ul.nav
            %li
              = link_to "Next (#{Clip.overdue_count})", root_path
            %li
              = link_to "Clips (#{Clip.undone.count}/#{Clip.count})", clips_path
            %li.dropdown
              %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
                Import(ALC)
                %b.caret
              %ul.dropdown-menu
                - (1..12).each do |l|
                  = link_to "LEVEL #{l}", importalc_path(l)
            %li
              = link_to "Stats", stats_path
          %ul.nav.pull-right
            %li
              %form.navbar-search{action: '/search/', method: 'get'}
                %input.search-query{id: 'query', name: 'query', type: 'text', placeholder: 'Search'}

    .container
      =render :partial => "shared/flash_messages", :locals => {:flash => flash}
      = yield
